mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #000a31;
  background-color:#fff;

}

.header {
  text-align: center;
  padding: 8px;
  color: #fff;

}

.mat-form-field{
  text-align: right;
  width: 90%;
  padding: 12px;
}


.mat-icon{
  color: #000a31;
}

.mat-flat-button{
  background-color: #000a31;
}

.mat-hint{
  color: #000a31;
}

.login-button {
  margin: 15px;


}

.background{
  background-color: #425260;
}
