

<!-- Just an image -->
<nav class="nav">
    <div class="head-user-avatar-container">
      <!--[cdkMenuTriggerFor]="userOverlay"-->
      <div class="head-user-avatar">
        <img src="./avatar.jpeg" alt="user" class="user-avatar">
        <div class="circle-indicator pulse"></div>
      </div>
    </div>
    <div class="head-user-full-name-container">
      <br>
      <span class="head-user-name" [innerText]="loggedUserName"></span>
      <br>
      <small class="head-user-name" [innerText]="loggedEmpNumber">7</small>
      <br>
    </div>
  <div class ='left'>
    <div class="logo">
      <img src="/logo.png" height="100" alt="logo"/>
    </div>


  </div>


</nav>







